In [1]:
import pandas as pd
import numpy as np

# Parsing Atomic Masses, Mass Excess, Binding Energy, and Beta Decay Energy.

In [145]:
with open("mass16_toparse.txt") as infile, open('atomic_masses.txt', 'w') as outfile:
    for line in infile:
        if line.strip():
            string = list(line)
            for i, j in enumerate([1, 4, 9, 14, 19, 22, 27, 41, 52, 63, 72, 75, 86, 95, 112]):
                string.insert(i + j, ',')
            outfile.write("".join(string))

In [146]:
columns = ["Page_Feed", "NZ", "N", "Z", "A", "EL", "O", \
           "Mass_Excess", "dMass_Excess", "Binding_Energy", "dBinding_Energy", \
           "Beta_Type", "B_Decay_Energy", "dB_Decay_Energy", "Atomic_Mass_Micro", "dAtomic_Mass_Micro"]

In [147]:
df = pd.read_csv("atomic_masses.txt", header=None, names=columns)
df = df.drop(columns=["Page_Feed", "NZ"])

In [148]:
df.head()

,N,Z,A,EL,O,Mass_Excess,dMass_Excess,Binding_Energy,dBinding_Energy,Beta_Type,B_Decay_Energy,dB_Decay_Energy,Atomic_Mass_Micro,dAtomic_Mass_Micro
0,1,0,1,n,,8071.31713,0.00046,0.000,0.0,B-,782.347,0.000,1 008664.91582,0.00049
1,0,1,1,H,,7288.97061,0.00009,0.000,0.0,B-,?,,1 007825.03224,0.00009
2,1,1,2,H,,13135.72176,0.00011,1112.283,0.0,B-,?,,2 014101.77811,0.00012
3,2,1,3,H,,14949.80993,0.00022,2827.265,0.0,B-,18.592,0.000,3 016049.28199,0.00023
4,1,2,3,He,,14931.21793,0.00021,2572.680,0.0,B-,-13736.,2000.,3 016029.32265,0.00022

In [149]:
strings = ["EL", "O", "Mass_Excess", "dMass_Excess", "Binding_Energy", "dBinding_Energy", \
           "Beta_Type", "B_Decay_Energy", "dB_Decay_Energy", "Atomic_Mass_Micro", "dAtomic_Mass_Micro"]

In [150]:
for col in strings:
    df[col] = df[col].astype(str)
    df[col] = df[col].str.strip("\"")
    df[col] = df[col].str.strip()

In [151]:
# for col in strings:
#     print("Value Counts for {} column.".format(col))
#     print(df[col].value_counts())
#     print("\n")

In [152]:
df['dB_Decay_Energy'].loc[df['B_Decay_Energy'] == '?'] = "?"

C:\Users\Pedro\Anaconda3\envs\data_mining_2\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [153]:
df.head()

,N,Z,A,EL,O,Mass_Excess,dMass_Excess,Binding_Energy,dBinding_Energy,Beta_Type,B_Decay_Energy,dB_Decay_Energy,Atomic_Mass_Micro,dAtomic_Mass_Micro
0,1,0,1,n,,8071.317129999999,0.00045999999999999996,0.0,0.0,B-,782.347,0.000,1 008664.91582,0.00049
1,0,1,1,H,,7288.970609999999,9e-05,0.0,0.0,B-,?,?,1 007825.03224,9e-05
2,1,1,2,H,,13135.721759999999,0.00011,1112.2830000000001,0.0,B-,?,?,2 014101.77811,0.00011999999999999999
3,2,1,3,H,,14949.809930000001,0.00022,2827.265,0.0,B-,18.592,0.000,3 016049.28199,0.00022999999999999998
4,1,2,3,He,,14931.21793,0.00021,2572.68,0.0,B-,-13736.,2000.,3 016029.32265,0.00022

In [154]:
df["O"] = df["O"].replace(to_replace="", value="Other")

In [155]:
df = df.drop(columns="Beta_Type")

In [156]:
df = df.replace('?', np.nan)

In [157]:
df.head()

,N,Z,A,EL,O,Mass_Excess,dMass_Excess,Binding_Energy,dBinding_Energy,B_Decay_Energy,dB_Decay_Energy,Atomic_Mass_Micro,dAtomic_Mass_Micro
0,1,0,1,n,Other,8071.317129999999,0.00045999999999999996,0.0,0.0,782.347,0.000,1 008664.91582,0.00049
1,0,1,1,H,Other,7288.970609999999,9e-05,0.0,0.0,NaN,NaN,1 007825.03224,9e-05
2,1,1,2,H,Other,13135.721759999999,0.00011,1112.2830000000001,0.0,NaN,NaN,2 014101.77811,0.00011999999999999999
3,2,1,3,H,Other,14949.809930000001,0.00022,2827.265,0.0,18.592,0.000,3 016049.28199,0.00022999999999999998
4,1,2,3,He,Other,14931.21793,0.00021,2572.68,0.0,-13736.,2000.,3 016029.32265,0.00022

In [158]:
df["Atomic_Mass_Micro"] = df['Atomic_Mass_Micro'].str.replace(" ", "")

In [159]:
for col in df.columns[5:]:
    df[col] = df[col].astype(float)

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3436 entries, 0 to 3435
Data columns (total 13 columns):
N                     3436 non-null int64
Z                     3436 non-null int64
A                     3436 non-null int64
EL                    3436 non-null object
O                     3436 non-null object
Mass_Excess           3436 non-null float64
dMass_Excess          3436 non-null float64
Binding_Energy        3436 non-null float64
dBinding_Energy       3436 non-null float64
B_Decay_Energy        3141 non-null float64
dB_Decay_Energy       3141 non-null float64
Atomic_Mass_Micro     3436 non-null float64
dAtomic_Mass_Micro    3436 non-null float64
dtypes: float64(8), int64(3), object(2)
memory usage: 349.1+ KB

In [161]:
df.to_csv("atomic_masses.csv", index=False)

# Parsing Separation Energy Data

In [127]:
with open("rct1_16.txt") as infile, open('rct1_16_sep.txt', 'w') as outfile:
    for line in infile:
        if len(line) != 120:
                line = line[:-1]
                spaces = 120 - len(line)
                line = line + (" " * spaces)  + "\n"
                
        if line.strip():
            string = list(line)
            for i, j in enumerate([1, 4, 8, 11, 22, 30, 40, 48, 58, 66, 76, 84, 94, 102, 112]):
                string.insert(i + j, ',')
            outfile.write("".join(string))

In [128]:
with open("rct2_16.txt") as infile, open('rct2_16_sep.txt', 'w') as outfile:
    for line in infile:
        if len(line) != 120:
                line = line[:-1]
                spaces = 120 - len(line)
                line = line + (" " * spaces)  + "\n"
                
        if line.strip():
            string = list(line)
            for i, j in enumerate([1, 4, 8, 11, 22, 30, 40, 48, 58, 66, 76, 84, 94, 102, 112]):
                string.insert(i + j, ',')
            outfile.write("".join(string))

In [129]:
columns_rct1 = ["Page_Feed", "A", "EL", "Z", \
           "S(2n)", "dS(2n)", "S(2p)", "dS(2p)", "Q(a)",  "dQ(a)", "Q(2B-)", "dQ(2B-)", "Q(ep)", "dQ(ep)", "Q(B-n)", "dQ(B-n)"]
rct1 = pd.read_csv("rct1_16_sep.txt", header=None, names=columns_rct1)

In [130]:
rct1.head()

,Page_Feed,A,EL,Z,S(2n),dS(2n),S(2p),dS(2p),Q(a),dQ(a),Q(2B-),dQ(2B-),Q(ep),dQ(ep),Q(B-n),dQ(B-n)
0,0,1,n,0,*,,*,,*,,*,,*,,*,
1,,1,H,1,*,,*,,*,,*,,*,,*,
2,0,2,H,1,*,,*,,*,,*,,*,,*,
3,0,3,H,1,8481.79,0.00,*,,*,,-13717#,2000#,*,,*,
4,,3,He,2,*,,7718.04,0.00,*,,*,,*,,*,

In [131]:
columns_rct2 = ["Page_Feed", "A", "EL", "Z", \
           "S(n)", "dS(n)", "S(p)", "dS(p)", "Q(4B-)", "dQ(4B-)", "Q(d,a)", "dQ(d,a)", "Q(p,a)", "dQ(p,a)", "Q(n,a)", "dQ(n,a)"]
rct2 = pd.read_csv("rct2_16_sep.txt", header=None, names=columns_rct2)

In [132]:
rct2.head()

,Page_Feed,A,EL,Z,S(n),dS(n),S(p),dS(p),Q(4B-),dQ(4B-),"Q(d,a)","dQ(d,a)","Q(p,a)","dQ(p,a)","Q(n,a)","dQ(n,a)"
0,0,1,n,0,0.0,0.0,*,,*,,*,,*,,*,
1,,1,H,1,*,,0.0,0.0,*,,*,,*,,*,
2,0,2,H,1,2224.57,0.00,2224.57,0.00,*,,23846.53,0.00,*,,*,
3,0,3,H,1,6257.23,0.00,*,,*,,17589.30,0.00,19813.86,0.00,*,
4,,3,He,2,*,,5493.47,0.00,*,,18353.05,0.00,*,,20577.62,0.00

In [133]:
for col in columns_rct1:
    rct1[col] = rct1[col].astype(str)
    rct1[col] = rct1[col].str.strip("\"")
    rct1[col] = rct1[col].str.strip()
    rct1[col] = rct1[col].str.replace("#", ".")
    
for col in columns_rct2:
    rct2[col] = rct2[col].astype(str)
    rct2[col] = rct2[col].str.strip("\"")
    rct2[col] = rct2[col].str.strip()
    rct2[col] = rct2[col].str.replace("#", ".")

In [134]:
rct1 = rct1.replace(to_replace="*", value=np.nan)
rct2 = rct2.replace(to_replace="*", value=np.nan)

rct1 = rct1.replace(to_replace="", value=np.nan)
rct2 = rct2.replace(to_replace="", value=np.nan)

In [135]:
for col in list(rct1.columns)[4:]:
    rct1[col] = rct1[col].astype(float)
    
for col in list(rct2.columns)[4:]:
    rct2[col] = rct2[col].astype(float)

In [142]:
rct1[["A", "Z"]] = rct1[["A", "Z"]].astype(int)
rct2[["A", "Z"]] = rct2[["A", "Z"]].astype(int)

rct1.drop(columns=["Page_Feed"], inplace=True)
rct2.drop(columns=["Page_Feed"], inplace=True)

In [163]:
rct1.head()

,A,EL,Z,S(2n),dS(2n),S(2p),dS(2p),Q(a),dQ(a),Q(2B-),dQ(2B-),Q(ep),dQ(ep),Q(B-n),dQ(B-n),N
0,1,n,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,1,H,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,H,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,3,H,1,8481.79,0.0,NaN,NaN,NaN,NaN,-13717.0,2000.0,NaN,NaN,NaN,NaN,2
4,3,He,2,NaN,NaN,7718.04,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [164]:
rct2.head()

,A,EL,Z,S(n),dS(n),S(p),dS(p),Q(4B-),dQ(4B-),"Q(d,a)","dQ(d,a)","Q(p,a)","dQ(p,a)","Q(n,a)","dQ(n,a)",N
0,1,n,0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,1,H,1,NaN,NaN,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,H,1,2224.57,0.0,2224.57,0.0,NaN,NaN,23846.53,0.0,NaN,NaN,NaN,NaN,1
3,3,H,1,6257.23,0.0,NaN,NaN,NaN,NaN,17589.30,0.0,19813.86,0.0,NaN,NaN,2
4,3,He,2,NaN,NaN,5493.47,0.0,NaN,NaN,18353.05,0.0,NaN,NaN,20577.62,0.0,1

In [162]:
rct1["N"] = rct1["A"] - rct1["Z"]
rct2["N"] = rct2["A"] - rct2["Z"]

# Merging All Three AMES datafiles

In [169]:
pd.set_option('display.max_columns', 500)

In [184]:
new_df = pd.merge(df, rct1,  how='left', left_on=['N','Z'], right_on = ['N','Z'])
new_df = pd.merge(new_df, rct2,  how='left', left_on=['N','Z'], right_on = ['N','Z'])

In [185]:
new_df

,N,Z,A_x,EL_x,O,Mass_Excess,dMass_Excess,Binding_Energy,dBinding_Energy,B_Decay_Energy,dB_Decay_Energy,Atomic_Mass_Micro,dAtomic_Mass_Micro,A_y,EL_y,S(2n),dS(2n),S(2p),dS(2p),Q(a),dQ(a),Q(2B-),dQ(2B-),Q(ep),dQ(ep),Q(B-n),dQ(B-n),A,EL,S(n),dS(n),S(p),dS(p),Q(4B-),dQ(4B-),"Q(d,a)","dQ(d,a)","Q(p,a)","dQ(p,a)","Q(n,a)","dQ(n,a)"
0,1,0,1,n,Other,8071.31713,0.00046,0.000,0.0,782.347,0.0,1.008665e+06,0.00049,1,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,n,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,1,H,Other,7288.97061,0.00009,0.000,0.0,NaN,NaN,1.007825e+06,0.00009,1,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,H,NaN,NaN,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,2,H,Other,13135.72176,0.00011,1112.283,0.0,NaN,NaN,2.014102e+06,0.00012,2,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,H,2224.57,0.0,2224.57,0.0,NaN,NaN,23846.53,0.0,NaN,NaN,NaN,NaN
3,2,1,3,H,Other,14949.80993,0.00022,2827.265,0.0,18.592,0.0,3.016049e+06,0.00023,3,H,8481.79,0.0,NaN,NaN,NaN,NaN,-13717.0,2000.0,NaN,NaN,NaN,NaN,3,H,6257.23,0.0,NaN,NaN,NaN,NaN,17589.30,0.0,19813.86,0.0,NaN,NaN
4,1,2,3,He,Other,14931.21793,0.00021,2572.680,0.0,-13736.000,2000.0,3.016029e+06,0.00022,3,He,NaN,NaN,7718.04,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,He,NaN,NaN,5493.47,0.0,NaN,NaN,18353.05,0.0,NaN,NaN,20577.62,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3431,176,117,293,Eh,-a,194385.00000,810.00000,7095.000,3.0,-4488.000,1072.0,2.932087e+08,870.00000,293,Eh,13558.00,1004.0,4184.00,1128.0,11293.40,50.0,NaN,NaN,NaN,NaN,NaN,NaN,293,Eh,7262.00,1051.0,1146.00,1143.0,NaN,NaN,17708.00,1016.0,14051.00,1045.0,17137.00,1044.0
3432,175,118,293,Ei,-a,198873.00000,702.00000,7077.000,2.0,NaN,NaN,2.932135e+08,753.00000,293,Ei,NaN,NaN,3093.00,931.0,11920.00,500.0,NaN,NaN,3342.0,1069.0,NaN,NaN,293,Ei,NaN,NaN,1992.00,970.0,NaN,NaN,17783.00,919.0,NaN,NaN,19321.00,963.0
3433,177,117,294,Eh,-a,196521.00000,660.00000,7092.000,2.0,-2942.000,936.0,2.942110e+08,708.00000,294,Eh,13197.00,940.0,NaN,NaN,11202.60,50.0,NaN,NaN,NaN,NaN,-10423.0,963.0,294,Eh,5935.00,1045.0,1437.00,882.0,NaN,NaN,18991.00,1041.0,13998.00,900.0,18177.00,1025.0
3434,176,118,294,Ei,-a,199463.00000,663.00000,7079.000,2.0,NaN,NaN,2.942141e+08,712.00000,294,Ei,NaN,NaN,3356.00,1044.0,11840.37,65.9,NaN,NaN,1505.0,885.0,NaN,NaN,294,Ei,7481.00,966.0,2210.00,1047.0,NaN,NaN,16598.00,942.0,12527.00,890.0,17722.00,903.0
3435,177,118,295,Ei,-a,201512.00000,644.00000,7075.000,2.0,NaN,NaN,2.952163e+08,692.00000,295,Ei,13503.00,953.0,3734.00,871.0,11700.00,200.0,NaN,NaN,NaN,NaN,NaN,NaN,295,Ei,6022.00,925.0,2298.00,922.0,NaN,NaN,17839.00,1035.0,12801.00,929.0,18917.00,1032.0

# Adding More Reaction Energies (2017Wang10)

In [186]:
new_df["Q(g,p)"] = -1 * new_df["S(p)"]
new_df["Q(g,n)"] = -1 * new_df["S(n)"]
new_df["Q(g,pn)"] = new_df["Q(d,a)"] - 26071.0939
new_df["Q(g,d)"] = new_df["Q(d,a)"] - 23846.5279
new_df["Q(g,t)"] = new_df["Q(p,a)"] - 19813.8649
new_df["Q(g,He3)"] = new_df["Q(n,a)"] - 20577.6194
new_df["Q(g,2p)"] = -1 * new_df["S(2p)"]
new_df["Q(g,2n)"] = -1 * new_df["S(2n)"]
new_df["Q(g,a)"] = new_df["Q(a)"]
new_df["Q(p,n)"] = new_df["B_Decay_Energy"] - 782.3465
new_df["Q(p,2p)"] = -1 * new_df["S(p)"]
new_df["Q(p,pn)"] = -1 * new_df["S(n)"]
new_df["Q(p,d)"] = -1 * new_df["S(n)"] + 2224.5660
new_df["Q(p,2n)"] = new_df["Q(B-n)"] - 782.3465
new_df["Q(p,t)"] = -1 * new_df["S(2n)"] + 8481.7949
new_df["Q(p,3He)"] = new_df["Q(d,a)"] - 18353.0535
new_df["Q(n,2p)"] = new_df["Q(ep)"] + 782.3465
new_df["Q(n,np)"] = -1 * new_df["S(p)"]
new_df["Q(n,d)"] = -1 * new_df["S(p)"] + 2224.5660
new_df["Q(n,2n)"] = -1 * new_df["S(n)"]
new_df["Q(n,t)"] = new_df["Q(d,a)"] - 17589.2989
new_df["Q(n,3He)"] = -1 * new_df["S(2p)"] + 7718.0404
new_df["Q(d,t)"] = -1 * new_df["S(n)"] + 6257.2290
new_df["Q(d,3He)"] = -1 * new_df["S(p)"] + 5493.4744
new_df["Q(3He,t)"] = new_df["B_Decay_Energy"] - 18.5920
new_df["Q(3He,a)"] = -1 * new_df["S(n)"] + 20577.6194
new_df["Q(t,a)"] = -1 * new_df["S(p)"] + 19813.8649

In [189]:
drop_redundant = ["A_x", "EL_x", "A_y", "EL_y"]
new_df = new_df.drop(columns=drop_redundant)

In [190]:
new_df.head()

,N,Z,O,Mass_Excess,dMass_Excess,Binding_Energy,dBinding_Energy,B_Decay_Energy,dB_Decay_Energy,Atomic_Mass_Micro,dAtomic_Mass_Micro,S(2n),dS(2n),S(2p),dS(2p),Q(a),dQ(a),Q(2B-),dQ(2B-),Q(ep),dQ(ep),Q(B-n),dQ(B-n),A,EL,S(n),dS(n),S(p),dS(p),Q(4B-),dQ(4B-),"Q(d,a)","dQ(d,a)","Q(p,a)","dQ(p,a)","Q(n,a)","dQ(n,a)","Q(g,p)","Q(g,n)","Q(g,pn)","Q(g,d)","Q(g,t)","Q(g,He3)","Q(g,2p)","Q(g,2n)","Q(g,a)","Q(p,n)","Q(p,2p)","Q(p,pn)","Q(p,d)","Q(p,2n)","Q(p,t)","Q(p,3He)","Q(n,2p)","Q(n,np)","Q(n,d)","Q(n,2n)","Q(n,t)","Q(n,3He)","Q(d,t)","Q(d,3He)","Q(3He,t)","Q(3He,a)","Q(t,a)"
0,1,0,Other,8071.31713,0.00046,0.000,0.0,782.347,0.0,1.008665e+06,0.00049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,n,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0005,NaN,-0.00,2224.566,NaN,NaN,NaN,NaN,NaN,NaN,-0.00,NaN,NaN,6257.229,NaN,763.755,20577.6194,NaN
1,0,1,Other,7288.97061,0.00009,0.000,0.0,NaN,NaN,1.007825e+06,0.00009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,H,NaN,NaN,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.00,NaN,NaN,NaN,NaN,NaN,NaN,-0.00,2224.566,NaN,NaN,NaN,NaN,5493.4744,NaN,NaN,19813.8649
2,1,1,Other,13135.72176,0.00011,1112.283,0.0,NaN,NaN,2.014102e+06,0.00012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,H,2224.57,0.0,2224.57,0.0,NaN,NaN,23846.53,0.0,NaN,NaN,NaN,NaN,-2224.57,-2224.57,-2224.5639,0.0021,NaN,NaN,NaN,NaN,NaN,NaN,-2224.57,-2224.57,-0.004,NaN,NaN,5493.4765,NaN,-2224.57,-0.004,-2224.57,6257.2311,NaN,4032.659,3268.9044,NaN,18353.0494,17589.2949
3,2,1,Other,14949.80993,0.00022,2827.265,0.0,18.592,0.0,3.016049e+06,0.00023,8481.79,0.0,NaN,NaN,NaN,NaN,-13717.0,2000.0,NaN,NaN,NaN,NaN,3,H,6257.23,0.0,NaN,NaN,NaN,NaN,17589.30,0.0,19813.86,0.0,NaN,NaN,NaN,-6257.23,-8481.7939,-6257.2279,-0.0049,NaN,NaN,-8481.79,NaN,-763.7545,NaN,-6257.23,-4032.664,NaN,0.0049,-763.7535,NaN,NaN,NaN,-6257.23,0.0011,NaN,-0.001,NaN,0.000,14320.3894,NaN
4,1,2,Other,14931.21793,0.00021,2572.680,0.0,-13736.000,2000.0,3.016029e+06,0.00022,NaN,NaN,7718.04,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,He,NaN,NaN,5493.47,0.0,NaN,NaN,18353.05,0.0,NaN,NaN,20577.62,0.0,-5493.47,NaN,-7718.0439,-5493.4779,NaN,0.0006,-7718.04,NaN,NaN,-14518.3465,-5493.47,NaN,NaN,NaN,NaN,-0.0035,NaN,-5493.47,-3268.904,NaN,763.7511,0.0004,NaN,0.0044,-13754.592,NaN,14320.3949

In [191]:
new_df.to_csv("elemental_properties.csv", index=False)